@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="display: flex; justify-content: center; margin-top: 15px;">
    <h1> درباره ما</h1>
</div>



<div class="aboutUs">
    <p>
        به زودی سایت راه اندازی می شود 
    </p>

</div>
