

@{
    ViewData["Title"] = "Home Page";
}
<header class="myHeader">
    <div class="headerItems">
        <h1>
            به سایت میکاییل یادگار خوش آمدید
        </h1>
        <p>
           به زودی بک سایت بر پایه :
           <br />
           ASP.net Core 
           <br />
           EF:SQL Server
         </p>

        

    </div>


    <div class="headerItems">
        <img class="headImg" src="~/asstes/img/com asli.jpg" width="500px" height="450px" alt="Mikaeel header">
    </div>
</header>
 
            @await Component.InvokeAsync("HomeBook",new {ShowHome=true ,IsNew=false})

            <h2 style="text-align :center">
               قسمت جدید
            </h2>

@await Component.InvokeAsync("HomeBook", new { ShowHome = true, IsNew = true })