@using DatAccess.Models
@model List<Story>

@{
    ViewData["Title"] = "Home Page";
}
<div class="slider">
    <img src="~/asstes/img/Baner Image 3.jpg" class="active" />
    <img src="~/asstes/img/AIRPOD.jpg" />
    <img src="~/asstes/img/Hyundai.jpg" />
    <img src="~/asstes/img/hp.jpg" />
</div>
<div class="dots">
    <span onclick="goToImage(0)" class="active"></span>
    <span onclick="goToImage(1)"></span>
    <span onclick="goToImage(2)"></span>
    <span onclick="goToImage(3)"></span>
</div>
<div  class="story-container">
    @foreach(var story in Model)
    {
        <div class="story-outer" onclick="showStory('@story.Id')">
            <div class="story-inner">
            <img src="data:@story.MediaMimeType;base64,@Convert.ToBase64String(story.MediaData)" />
              </div>
            </div>
    }
</div>
<div id="story-popup"class="popup" style="display:none">
    <div class="popup-content">
        <img id="popup-img"src=""style="display:none" />
        <video id="popup-video"controls autoplay style="display:none">
            <source id="popup-video-source" src="" type="" />
        </video>
    </div>
    <span class="close" onclick="closeModal()">&times;</span>
    <iframe id="storyFrame" class="modal-content"frameborder="0"></iframe>
</div>
<header class="myHeader">
    <div class="headerItems">
        <h1>
            به سایت میکاییل یادگار خوش آمدید
        </h1>
        <p>
           به زودی بک سایت بر پایه :
           <br />
           ASP.net Core 
           <br />
           EF:SQL Server
         </p>

        

    </div>


    <div class="headerItems">
        <img class="headImg" src="~/asstes/img/com asli.jpg" width="500px" height="450px" alt="Mikaeel header">
    </div>
</header>
 
            @await Component.InvokeAsync("HomeBook",new {ShowHome=true ,IsNew=false})

            <h2 style="text-align :center">
               قسمت جدید
            </h2>

@await Component.InvokeAsync("HomeBook", new { ShowHome = true, IsNew = true })
@section Scripts {
    <script>
         var modal = document.getElementById("myModal");

      

       async function OpenModal(id)
          {
              modal.style.display="block";
               var body=document.getElementById("modal-body");

            try
            {
                var response=await fetch("/Book/GetBook/"+id);
                if(response.ok)
                {
                    var res=await response.text();
                    body.innerHTML=res;
                }
            }
            catch
            {

            }


          }
          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks the button, open the modal
          btn.onclick = function() {
            modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
            modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
    </script>
}
<script>
    let currentindex=0;
    const images=document.querySelectorAll('.slider img');
    const dots=document.querySelectorAll('.dots span');

    function showImage(index){
        images.forEach(img=>img.classList.remove('active'));
        dots.forEach(dot=>dot.classList.remove('active'));
        images[index].classList.add('active');
        dots[index].classList.add('active');
    }
    function goToImage(index){
    currentindex=index;
    showImage(index);
    }
    setInterval(()=>{
currentindex=(currentindex+1) % images.length;
        showImage(currentindex);
    },3000);
</script>

<script>
function showStory(id){
        fetch('/Home/GetStoryData/${id}')
        .then(res=>res.json())
        .then(data=>{
            const popup=document.getElementById('story-popup');
            const img=document.getElementById('popup-img');
            const video=document.getElementById('popup-video');
            const VideoSource=document.getElementById('popup-video-source');
            if(data.mimeType.startsWith("image"))
            {
                img.src='data:${data.mimeType};base64,${data.base64}';
                img.style.display='block';
                video.style.display='none';
            }
                else  if(data.mimeType.startsWith("video"))
                {
                        VideoSource.src='data:${data.mimeType};base64,${data.base64}';
                        video.onload();
                        video.style.display='block';
                        img.style.display='none';
                }
                popup.style.display='flex';
                setTimeout(()=>{
                    popup.style.display='none';
                    video.onpause();

                },5000);
            
        }
}   
</script>