@using DatAccess.Models
@model List<Story>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="d-flex">
    @foreach (var story in Model)
    {
        <div>

        <img src="data:@story.MediaMimeType;base64,@Convert.ToBase64String(story.MediaData)"
        width="120"height="120" style="border-radius:50%;object-fit:cover" />
        </div>
        <form asp-action="Delete" method="post" asp-route-id="@story.Id"onsubmit="return confim('آیا اطمینان دارید؟');">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
    }
   </div>